Repository vmware/validated-solutions-for-cloud-foundation, pull requests merged in 2023-02, with the labels that each got.

#25 feat: add python module for hrm
  .gitignore
  hrm/README.md
  hrm/__init__.py
  hrm/artifacts/vSAN/Alert_Definitions.xml
  hrm/artifacts/vSAN/Dashboards.zip
  hrm/artifacts/vSAN/Notifications.json
  hrm/artifacts/vSAN/Supermetrics.json
  hrm/artifacts/vSAN/Views.zip
  hrm/encrypt-passwords.py
  hrm/encrypted_files/__init__.py
  hrm/env.json
  hrm/examples/run_sos-data-push-vrops.bat
  hrm/send-data-to-vrops.py
  hrm/utils/FolderUtility.py
  hrm/utils/LogUtility.py
  hrm/utils/PSUtility.py
  hrm/utils/SosRest.py
  hrm/utils/__init__.py
Labels: feature, vvs/hrm

#26 chore: update main repo readme
  README.md
Labels: chore, vvs/hrm

#28 docs: add guidance for installing python
  hrm/README.md
Labels: documentation, vvs/hrm

#31 feat: improve default logs folder
  hrm/env.json
Labels: enhancement, vvs/hrm
