Repository vmware/validated-solutions-for-cloud-foundation, pull requests merged in 2023-05, with the labels that each got.

#52 chore(release): hrm update
  hrm/README.md
  hrm/dist/vmware-cloud-foundation-health-monitoring-1.1.0.tar.gz
  hrm/dist/vmware_cloud_foundation_health_monitoring-1.1.0-py3-none-any.whl
  hrm/images/__init__.py
  hrm/pyproject.toml
  hrm/releases/hrm-v1.0.0.1001.zip
  hrm/setup.cfg
  hrm/source/artifacts/__init__.py
  hrm/source/artifacts/vSAN/Views.zip
  hrm/source/artifacts/vSAN/__init__.py
  hrm/source/examples/__init__.py
  hrm/source/examples/run_send-data-to-vrops.bat
  hrm/source/main/__init__.py
  hrm/source/main/encrypt-passwords.py
  hrm/source/main/encrypted_files/__init__.py
  hrm/source/main/env.json
  hrm/source/main/send-data-to-vrops.py
  hrm/source/main/utils/FolderUtility.py
  hrm/source/main/utils/LogUtility.py
  hrm/source/main/utils/PSUtility.py
  hrm/source/main/utils/SosRest.py
  hrm/source/main/utils/__init__.py
  hrm/source/main/utils/__pycache__/SosRest.cpython-39.pyc
Labels: chore, vvs/hrm

#53 docs: update `hrm/README.md`
  hrm/README.md
Labels: documentation, vvs/hrm

#54 chore: add missing release archives
  hrm/releases/hrm-v1.0.0.1001.zip
  hrm/releases/hrm-v1.1.0.1002.zip
Labels: chore
